## SITE REFERRER BANNING
RewriteCond %{HTTP_REFERER} snip.to [NC,OR]
RewriteCond %{HTTP_REFERER} snip.to
RewriteRule .* - [F]

# BEGIN WordPress
<IfModule mod_rewrite.c>
RewriteEngine On
RewriteBase /
RewriteRule ^index\.php$ - [L]
RewriteCond %{REQUEST_FILENAME} !-f
RewriteCond %{REQUEST_FILENAME} !-d
RewriteRule . /index.php [L]
</IfModule>

# END WordPress
